body{background-color: rgb(31, 60, 45);padding: 7px;}
div.relative{position: relative;
right: 30px;}
.center{display: block;
    margin-left: auto;
margin-right: auto;
}
h1{text-align: center;
font-variant: small-caps;
font-style: unset;
color: rgb(247, 243, 229);
border:3px dotted rgb(235, 216, 196);
font-style: oblique;
}

hr{color: rgb(255, 183, 0);}
.king{background-color: rgb(77, 96, 59);
font-size: large;
font-family: 'Franklin Gothic Medium', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
font-kerning: var(30px);
color: rgb(255, 255, 255);
font-stretch:expanded;
text-align: center;
border: 2px dotted rgb(182, 169, 154);}


.mostofthetime{color:rgb(255, 170, 0);
font-variant: small-caps;
font-size: larger;
padding: 5px;}

h3{color: white;
text-align: center;
text-decoration:wavy;}

.tigerorange{color:rgb(255, 170, 0);
    font-variant: small-caps;
    font-size: larger;}

    .movemove {text-align: left;}

    a:link {color: rgb(255, 183, 0); }
    a:hover{color: rgb(141, 80, 199);}

    .box{
    width: 200px;
height: 200px;}

.absolutely{position: absolute;
top: 10%;
right:30px;
height: 600px;
}

.sticky{position: sticky;

right:60px;
top: 0%;
height: 20px;
width:20px;}

.bumper{
position: absolute;
top:70%;
right: 100px;}

.quitepassionatebox{border: 6px dotted cornflowerblue;
padding: 15px;
background-color: rgb(124, 113, 56);
width: 700px;
animation: denlight 3s infinite;}

.breathe {height:400px;
width:100%;
overflow: hidden;}

a {color:rgb(158, 158, 158);
    font-variant: small-caps;
    font-size: medium;
border: 4px rgb(154, 183, 206) inset;
padding: 3px;
background-color:rgb(110, 77, 77) ;}

.denblood{background-color: rgb(31, 60, 45);
   font-family: serif;
   text-align: center;
   font-size: large;
   width: 500px;
   position: relative;
   left: 440px;
   border: 3px solid rgb(171, 101, 206);
animation: fades 20s infinite ;
animation-direction: alternate;
padding: 5px;
text-shadow: 3px 3px 3px rgb(47, 68, 46);}

a:hover {border: 4px grey outset;
color: aliceblue;
background-color: rgb(171, 52, 52);}

    #flashing {border: 6px dotted cornflowerblue;
        padding: 15px;
        background-color:rgb(124, 113, 56);
        width: 1000px;
    animation: denlight 3s infinite; 
position: relative;
left: 2%;}
    
.lashing {border: 6px dotted cornflowerblue;
    padding: 15px;
    background-color:rgb(124, 113, 56);
    width: 500px;
animation: denlight 3s infinite; 
position: relative;
left: 2%;}


    @keyframes denlight{50%{border:6px dotted white}}

    #prowl {width:200px;
    height:120px;
    overflow: hidden;

translate: 0 0;
animation: proud 18s infinite;
}

@keyframes proud {
    from {
        translate: -300px;
    } 
    40% {
        translate: 1500px;
    } 
    40% {
        transform:scalex(1)
    }
    44% {
        transform:scalex(-1)
    }
    84% {
        transform:scalex(-1)
    }
    to {
        translate: -1000px;
    }
}

@keyframes fades
{from {background-color: rgb(31, 60, 45)} 50%{background-color: rgb(182, 14, 14);}  75%{background-color: powderblue} to{background-color: rgb(255, 183, 0);}}