body{background-color: rgb(31, 60, 45);padding: 7px;}
div.relative{position: relative;
right: 30px;}
.center{display: block;
    margin-left: auto;
margin-right: auto;
}
h1{text-align: center;
font-variant: small-caps;
font-style: unset;
color: rgb(247, 243, 229);
border:3px dotted rgb(235, 216, 196);
font-style: oblique;
}

hr{color: rgb(255, 183, 0);}
.king{background-color: rgb(77, 96, 59);
font-size: large;
font-family: 'Franklin Gothic Medium', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
font-kerning: var(30px);
color: rgb(255, 255, 255);
font-stretch:expanded;
text-align: center;
border: 2px dotted rgb(182, 169, 154);}

p{color: antiquewhite;}
.mostofthetime{color:rgb(255, 170, 0);
font-variant: small-caps;
font-size: larger;
padding: 5px;}

.tigerorange{color:rgb(255, 170, 0);
    font-variant: small-caps;
    font-size: larger;}

    .movemove {text-align: left;}

    a:link {color: rgb(255, 183, 0); }
    a:hover{color: rgb(141, 80, 199);}

    .box{
    width: 200px;
height: 200px;}

.absolutely{position: absolute;
top: 10%;
right:30px;
height: 600px;}

.sticky{position: sticky;

right:60px;
top: 0%;
height: 20px;
width:20px;}

.bumper{
position: absolute;
top:70%;
right: 90px;}

.quitepassionatebox{border: 4px dotted cornflowerblue;
padding: 15px;
background-color: rgb(141, 80, 199);
width: 700px;}

.breathe {height:400px;
width:300px;}

a {color:rgb(255, 255, 255);
    font-variant: small-caps;
    font-size: medium;}
    