* {box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
padding: 4px;
margin: 2px;}


.topinspace { 
    height: 75px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    position: sticky;
    top: 0;
    left: 0;
    overflow: contain;
    display: flex;
    float: inline-start;
    align-items: center;
    background-color:rgb(33, 38, 46);
    text-align: center;
    z-index: 1;
} 


body { background-color: rgb(33, 38, 46);
        margin: 5px;
        




}


.topinspace > p {
    text-align: center;
    justify-self: center;
    position: relative;
    left: 34vw;
    top: 0;
  
    
}

.topinspace > button { position: relative;
    left: 700px;
    top: 0px;
   
}

.delivery {
    height: 600px;
    border-radius: 4px;




}


.delivery 



.topinspace > img {float: left;}

.spacehopper {
    background-color: rgb(181, 200, 233);
    width: 100vw;
   height: 40px;
   display: flex;
   align-items:center;
   justify-content: space-between;
    margin: 2px 2px 20px 2px;
    overflow: hidden;

}

.cargobox {

    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: 1em;
    border-radius: 50%;
    

}

.cargobox > div:nth-child(odd) {background-color:rgb(255, 255, 255);}

.bar-ceiling {
    width:100vw; 
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.sidebars {display: grid;
grid-template-columns: 10% 80% 10%;
}

.bar {
  
    background-color: brown;
    width:50px;
    height: 100vh;
    position:relative;
    left: 100%;


}

.bars {
    
    background-color: brown;
    width:50px;
    height: 100vh;
    position:relative;
    right: 100%;


}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(33, 38, 46);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color:  rgb(16, 57, 126)}
  
  button:active {
    background-color:  rgb(105, 26, 17);
    box-shadow: 0 5px #666;
    transform: translateY(4px);



}
.sensor-stick {
    
    background-color: antiquewhite ;
    position: relative;
    color: antiquewhite;
    padding: 5px;
    top: 0;
    left: 0;
    border: 3px blue double;
overflow: hidden;
font-size: 16px;
margin-top: 70px;
}
.sensor-stick > img:hover {opacity: 0;
transition: .5s;}

.sensor-stick > img {

position: absolute;
top: 0;
left: 0;
width: 900px;
margin-bottom: 7px;
animation: sensorgo 3s 2 alternate-reverse ease-in-out;
}

.sensor-stick > p { 
    background-color:rgb(166, 37, 37);
    border: 3px white;
    margin-top: 10px;
  

}

.shift {background-color: red;
color:rgb(11, 61, 145) ;
font-size: 33px;}

p {transition: .8s;}

.challenger { 
    background-color: rgb(147, 37, 37);
    width: 50vw;
    height: 60px;
    border-left: 4px solid antiquewhite;
    color: rgb(240, 185, 185);
    border-radius: 6px;
    padding: 3px;
    overflow:scroll;
    margin-bottom: 40px;
    position: relative;
    left: 25vw;
    top: 0px;
}


.simple {
  width:50vw;
  background-color:rgb(153, 130, 99);
  padding: 3px;
  height: 70px;
  border-color: rgb(108, 86, 56);
  border: 5px inset;
  position: relative;
  left: 110%;
  top: 0;
  overflow: scroll;
}


.boxes {
    
background-color:antiquewhite;
margin: 10px;
display: grid;
grid-template-columns: 70% 30%;
position: relative;


}

.boxes > img:hover {
    
    width: 90vw;
    height: 90vh;
position: fixed;
top: 60px;
left: 30px;
border: green 3px;
}


.nasared { 
    background-color:  rgb(202, 27, 27) ;
    border: white double;
    text-align: center;
}


.nasared > h1 {color: antiquewhite;}

.yup {background-color: antiquewhite;}
.anna {background-color: rgb(246, 207, 207);}



.two {background-color:rgb(185, 30, 74) ;}

.three {background-color:rgb(149, 29, 131) ; ;}

div {padding:5px;
margin:3px;}

@keyframes sensorgo { from {opacity: .5;} to {opacity: 1;}}

@media screen and (max-width:800px) 
{  


main {

    flex-direction: column}
 
h1 {font-size: smaller;}
.cargobox {flex-direction:column ;}
header {flex-direction: column; 

}
}