/* .welcome-welcome-welcome */
 *{
    box-sizing: border-box;
    overflow: hidden;
}



.drytack, img { width:4000vw; mix-blend-mode: hard-light;  }
/* HI! Say it back, its hard to hear you- */

.drytack  {background-color: rgb(108, 104, 66);
background-image: url(open.gif);    
background-size: contain;
position: absolute;
overflow:hidden;
display: flex;
width: 100vw;
height: 100vh;
opacity: 80%;
}


body {background-image: url(open.gif);    
    background-size: cover;}






audio {position: fixed; background-color: rgb(235, 255, 196); left: 40vw; top: 75vh;}

audio:hover {background-color: rgb(189, 4, 4); border: 5px;}
audio:active {background-color: rgb(255, 255, 255);}

a {
  
    text-decoration: none;
    color: black;
}

a:hover {color: greenyellow;}

.buzzerbeeper {position: absolute;
    display: flex;
    align-items: center;
    justify-content:left;
    left: 46%;
    top: 85%;
    padding: 5px;
    width:100px;
    height: 75px;
    text-align: center;
    background-color: rgb(185, 181, 181);
    border-radius: 10%;
    border: 5px rgb(240, 211, 211) outset;
}

.buzzerbeeper:hover { 
    border: 5px rgb(179, 165, 165) inset;
    background-color: rgb(159, 153, 153);
    justify-content: center;
}
   