p {
    color:rgb(23, 36, 125);
    font-size: 15px;
    margin:0 auto;
    text-align: center;
}

h1{
    background-color:rgb(255, 98, 0) ; 
    color:rgb(167, 177, 207);
border: 5px double yellow ;
padding: 20px;
width: 600px;}
body{
   background-color:rgb(167, 177, 207); 
   max-width: 600px;
   margin: 0 auto;}
a{color:red;
    text-decoration:wavy ;}
    a:hover{ background-color: darkorange;
        border:3px double yellow;}

        .boomy{font-size: 20px;}